<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title"><%= "#{@sentence.tense.capitalize} #{@sentence.tense_modifier}" %></h1>
  </div>
  <div class="panel-body">
    <div class="timeline">
	<div class="before-meter">
	<%= fa_icon "clock-o 3x" %>
	</div>
	<div class="meter-container">
		<div class="meter">
		  <div class="past">
			<%= fa_icon "map-marker 2x"%>
			<span class="marker-label">Past</span>
		  </div>
		  <div class="now">
			<%= fa_icon "map-marker 2x"%>
			<span class="marker-label">Now</span>
		  </div>	
		  <span style="width: 5%; margin-left: 22.5%;"></span>
		</div>
	</div>
	</div>
	</div>
	<ul class="list-group">
		<li class="list-group-item">
			<h4 class="panel-title">Uses</h4>
		</li>
		<li class="list-group-item">
			<ul class="uses">
				<li>Actions completed in the past.</li>
				<li>Stable facts around some time in the past.</li>
				<li>Past habits or states.</li>
			</ul>
		</li>
		<li class="list-group-item">
		<h4 class="panel-title">Examples</h4>
		</li>
		<li class="list-group-item">
		<ul class="eg-list">
			<li class="eg">
				<span>"We saw a movie on the weekend"</span><br>
				<span class="eg-explanation">(Completed action - no connection with the present)</span>
			</li>
			<li class="eg">
				<span>"Avocados were cheaper a few years ago"</span><br>
				<span class="eg-explanation">(Stable fact around a few years ago)</span>
			</li>
		</ul>
		</li>
	</ul>
</div>





