<div class="sentence">
	<%= image_tag "sentenzr.png" %>
	<div class="body">
		<%= render 'sentence_body' %>
	</div>
	<div class="controls-row">
		<div id= "structure-options" class="controls-col verticalLine">
			<%= render 'sentence_controls' %>
		</div>
		<div id="input-options" class="controls-col">
			<%= render 'editing' %>
		</div>
	</div>
</div>