
	<div class="fixed-content">
		<%= image_tag "sentenzr.png", class: "logo" %>
		<div id="sentence">
			<%= render 'sentence_body' %>
		</div>
	</div>
	<div id="current-options">
		<%= render session[:editing] %>
	</div>