<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title"><%= "#{@sentence.tense.capitalize} #{@sentence.tense_modifier}" %></h1>
  </div>
  <div class="panel-body">
    <div class="timeline">
	<div class="before-meter">
	<%= fa_icon "clock-o 3x" %>
	</div>
	<div class="meter-container">
		<div class="meter">
		  <div class="past">
			<%= fa_icon "map-marker 2x"%>
			<span class="marker-label">Past</span>
		  </div>
		  <div class="now">
			<%= fa_icon "map-marker 2x"%>
			<span class="marker-label">Now</span>
		  </div>
		  <span style="width: 5%; margin-left: 10%;"></span>
		</div>
	</div>
	</div>
	</div>
	<ul class="list-group">
		<li class="list-group-item">
			<h4 class="panel-title">Uses</h4>
		</li>
		<li class="list-group-item">
			An action or state that was completed before some moment in the past
			<ul class="uses">
			</ul>
		</li>
		<li class="list-group-item">
		<h4 class="panel-title">Examples</h4>
		</li>
		<li class="list-group-item">
		<ul class="eg-list">
			<li class="eg">
				<span>"I was nervous for the exam because I hadn’t studied."</span><br>
				<span class="eg-explanation">(Context - this explains why I was nervous)</span>
			</li>
		</ul>
		</li>
	</ul>
</div>





