$seaGreen: #399E5A;
$cyanBlue: #2F97C1;
$queenBlue: #4464AD;
$indianRed: #D65E5E;
$niceYellow: #FFDD4A;
$silver: #7F8593;

$subject: $cyanBlue;
$verb: $indianRed;
$complement: $seaGreen;
$link: $silver;

html, body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
}

a, a:link, a:visited, a:hover, a:active{
    text-decoration: none;    
}

.logo {  
   height: 50px;
}

#sentence{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 20px 20px 0 30px;
    /*font-family: 'Roboto', sans-serif;*/
    span {
        margin: 2px;
    }
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
}

.speech-bubble{
    position: relative;
    background-color: white;
    border-radius: 10px;
    padding: 0 10px 0 10px;
    
    .speech-header {
    display: flex;
    margin: 5px 0 5px 0;
    justify-content: space-between;
        
        span{
            padding: 0 5px 0 5px;
        }
        
        a {
            color: $link;
        }
        
        ul{
            padding: 0px;
            list-style: none;
        }
        li{
            display: inline-block;
            padding: 0 10px 0 0;
        }
    }
    
    .speech-body{
        position: relative;
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        justify-content: center;
        overflow: hidden;
    }
    
    &:after {
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        left: 0;
        top: 50%;
        transform: translate(-100%, -50%);
        border-style: solid;
        border-width: 15px 26.0px 15px 0;
        border-color: transparent white transparent transparent;
    }
}

#structure-options, #verb-options, #subject-options, #complement-options {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.edit_sentence {
    display: inline-block;
}

.sliders, .word-select {
    width: 400px; 
}

#explanation {
    margin-left: 10px;
    font-size: 16px;
    flex: 1;
    
    .uses, .eg-list {
        padding-left: 25px;
    }
    
    .eg {
        padding: 5px 0 5px 0;
    }
    .eg-explanation{
        font-style: italic;
    }
}

.block{
    
    .block-header{
        font-size: 14px;
    }
    font-size: 32px;
    position: relative;
    padding:5px 10px 0 10px;
    border-radius: 10px;
    margin: 0 0 10px 0;
    
    .fa {
        padding-right: 5px;
    }
}

.fixed-content{
    background-color: #EFEFEF;
    text-align: center;
    padding: 30px 0 30px 0;
}

.main-gallery {
  flex: 1 100%;
}

.gallery-cell {
  width: 100%;
  height: 80px;
  margin-right: 10px;
  background: #8C8;
  counter-increment: gallery-cell;
  color: white;
  font-size: 20px;
}

.vertical-align{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.wrap{
    text-align: center;
    white-space: pre-line;
}

#positive{
    background-color: #3FA34D;
}

#negative {
    background-color: #C44536;
}
    
#question {
    background-color: #FFB627;
}

.tense{
    .gallery-cell {
        background-color: #00A6FB;
    }
}

.tense-modifier{
    .gallery-cell {
        background-color: #3943B7;
    }
}

.sentence-option {
    border: 1px solid black;
}

.match-icon {
    font-family: 'Fredoka One', cursive;
}

.sentence {
    text-align: center;
    span {
        margin: 5px;
    }
    .body{
        padding: 100px 0 30px 0;
    }
}

#current-options {
    background-color: #f5f5f5;
    padding: 10px;
    height: 100%;
    flex: 1;
    
    .word {
        border: 0;
        width: 100px;
        padding: 10px 0 10px 0;
        margin: 6px 3px 5px 3px;
        background-color: white;
    }    
}

#subject-options {
    color: $subject;
    .word {
        border: 1px solid $subject;
    }
    .word.active{
            background-color: $subject;    
            color: white;
        }
}

#verb-options {
    color: $verb;
    .word {
        border: 1px solid $verb;
    }
    .word.active{
        background-color: $verb;    
        color: white;
    }
}

#complement-options {
    color: $complement;
    .word {
        border: 1px solid $complement;
    }
    .word.active{
        background-color: $complement;    
        color: white;
    }
}

.subject {
    border: 2px solid $subject  
}

.subject.active {
    color: white;
    background-color: $subject;
}

.verb {
    border: 2px solid $verb;
}

.verb.active {
    color: white;
    background-color: $verb;
}

.complement {
    border: 2px solid $complement;
}

.complement.active {
    color: white;
    background-color: $complement;
}

#structure-options {
    .panel-heading {
    background-color: orange;
    color: white;
    }
}

#verb-options {
    .panel-heading {
    background-color: red;
    color: white;
    }
}

#subject-options {
    .panel-heading {
    background-color: blue;
    color: white;
    }
}

#complement-options {
    .panel-heading {
    background-color: green;
    color: white;
    }
}