html, body
{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
}

#sentence{
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    span {
        margin: 2px;
    }
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
}

#structure-options, #verb-options, #subject-options, #complement-options {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.edit_sentence {
    display: inline-block;
}

.sliders, .word-select {
    width: 400px;
    
}

#explanation {
    margin-left: 10px;
    font-size: 16px;
    flex: 1;
    
    .uses, .eg-list {
        padding-left: 25px;
    }
    
    .eg {
        padding: 5px 0 5px 0;
    }
    .eg-explanation{
        font-style: italic;
    }
    
    .seperator {
        color: lightgrey;
        display: flex;
        justify-content: center;
        
        hr {
            flex: 1;
        }
    }
}

.block{
    position: relative;
    padding:5px 10px 0 10px;
    border-radius: 10px;
    margin: 10px 0 10px 0;
    .fa {
        padding-right: 5px;
    }
}

.block-header{
    font-size: 16px;
}

.fixed-content{
    background-color: white;
    text-align: center;
    margin: 30px 0 30px 0;
}

.logo {
   height: 50px;
}

hr {
    margin-bottom: 8px;
    margin-top: 8px;
}

.main-gallery {
  flex: 1 100%;
}

.gallery-cell {
  width: 100%;
  height: 80px;
  margin-right: 10px;
  background: #8C8;
  counter-increment: gallery-cell;
  color: white;
  font-size: 20px;
}

.vertical-align{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.wrap{
    text-align: center;
    white-space: pre-line;
}


#positive{
    background-color: #3FA34D;
}

#negative {
    background-color: #C44536;
}
    
#question {
    background-color: #FFB627;
}

.tense{
    .gallery-cell {
        background-color: #00A6FB;
    }
}

.tense-modifier{
    .gallery-cell {
        background-color: #3943B7;
    }
}

.sentence-option {
    border: 1px solid black;
}

.match-icon {
    font-family: 'Fredoka One', cursive;
}

.option-row{
    display: flex;
    justify-content: center;
    font-family: 'Fredoka One', cursive;
    text-align: center;
    
    .option{
        cursor: pointer;
        flex-grow: 1;
        flex-basis: 0;
        color: white;
        border: 1px solid black;
        margin: 5px 10px 5px 10px;
        position: relative;
        padding: 5px 5px 0 5px;
        
        font-size: 20px;
        
        p {
            font-size: 16px;
        }
        
        .fa-match-material-icons{
            padding: 5px;
        }
    }
    
    .active {
        color: white;
    }
}

a, a:link, a:visited, a:hover, a:active{
    text-decoration: none;    
}

.sentence {
    text-align: center;
    span {
        margin: 5px;
    }
    .body{
        padding: 100px 0 30px 0;
    }
}

#current-options {
    background-color: #f5f5f5;
    padding: 10px;
    height: 100%;
    flex: 1;
    
    .word {
        border: 0;
        width: 100px;
        padding: 10px 0 10px 0;
        margin: 6px 3px 5px 3px;
        background-color: white;
    }    
}

#subject-options {
    color: blue;
    .word {
        border: 1px solid blue;
    }
    .word.active{
            background-color: blue;    
            color: white;
        }
}

.structure {
    color: orange;
    align-self: flex-start;
    border: 1px solid orange;
    font-size: 16px;
    padding: 0 5px 0 5px;
    border-radius: 10px;
    
    &.active{
        background-color: orange;    
        color: white;    
    }
}

#verb-options {
    color: red;
    .word {
        border: 1px solid red;
    }
    .word.active{
        background-color: red;    
        color: white;
    }
}

#complement-options {
    color: green;
    .word {
        border: 1px solid green;
    }
    .word.active{
        background-color: green;    
        color: white;
    }
}

.subject {
    border: 2px solid blue  
}

.subject.active {
    color: white;
    background-color: blue;
}

.verb {
    border: 2px solid red
}

.verb.active {
    color: white;
    background-color: red;
}

.complement {
    border: 2px solid green;
}

.complement.active {
    color: white;
    background-color: green;
}

#structure-options {
    .panel-heading {
    background-color: orange;
    color: white;
    }
}

#verb-options {
    .panel-heading {
    background-color: red;
    color: white;
    }
}

#subject-options {
    .panel-heading {
    background-color: blue;
    color: white;
    }
}

#complement-options {
    .panel-heading {
    background-color: green;
    color: white;
    }
}